.toast {
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: white;
    border-bottom: 3px solid green;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

@media screen and (min-width : 420px) and (max-width : 600px) {
    .toast {
        max-width: 60%;
    }

}

@media screen and (min-width : 600px) and (max-width : 768px) {
    .toast {
        max-width: 40%;
    }

}

@media screen and (min-width : 768px) {
    .toast {
        max-width: 30%;
    }

}